:root {
    --primary-color: #cbbcf6;
    --secondary-color: #421b9b;
    --tertiary-color: #cca8e9;
    --heading-font-family: "DM Serif Text", serif;
    --default-font-family: "Playfair Display", serif;
}
body {
    background: var(--primary-color);
    color: #fcfefe;
    height: 100%;
}

.hero-section {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsWCwdaTwFcp5ym0Cu9Bz4ugq08DZJKipSu4DOXpK5X-7zXhZJzpVBZERp2z972RjmWSg&usqp=CAU);
    background-size: cover;
    background-position: center;
    color: #fcfefe;
    height: 400px;
    padding: 20px;
}
.hero-section h1 {
    font-weight: bold;
    
}
.hero-section h3 {
    font-family: var(--default-font-family);
    font-weight: bold;
    font-style: italic;
}
.btn-branding {
    background: var(--secondary-color);
    color: #fcfefe;
    border: 1px solid #fcfefe;
    padding: 10px 20px;
    border: 5px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    line-height: 30px;
    margin-bottom: 30px;
}
.content-section {
    padding: 60px 20px;
}

.image-text {
    display: flex;
    align-items: center;
    justify-content: center;

}
.image-text img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;

}
.image-text .text-box {
    max-width: 500px;
}
.welcome-statement {
    font-family: var(--default-font-family);
    font-style: italic;
    color: var(--secondary-color);
}
.about-section-container {
    background-color: var(--tertiary-color);
    color: #fcfefe;

}
.services-offered {
    font-family: var(--default-font-family);
    font-style: italic;
    color: var(--secondary-color);
    font-size: 34px;
    margin-bottom: 40px;
}
h5 {
    font-family: var(--default-font-family);
    font-style: italic;
    font-weight: bold;
    color: #fad3cf;
}
.about {
    background: var(--tertiary-color);
    color: #fcfefe;
}
.about-section h1 {
    font-family: var(--default-font-family);
    font-style: italic;
}
.about-section h2 {
    font-family: var(--heading-font-family);
}
.about-section p {
    font-size: 18px;
    font-family: var(--heading-font-family);

}
.about-section {
    padding: 160px 20px;

}

.about-section content {
    margin: 30px;
}
.btn-branding-outline {
    color: #fcfefe !important;
    border: 1px solid var(--secondary-color) !important;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
  }
.our-recent-work {
    background: var(--tertiary-color);
}
  .recent-container h1 {
    font-family: var(--default-font-family);
    font-style: italic;
    color: var(--secondary-color);
    text-align: center;
    font-size: 36px;

}
.recent-container h3 {
    font-family: var(--heading-font-family);
    font-style: bold;
    color: #fad3cf;
    font-size: 24px;
    text-align: start !important;
    padding-bottom: 4px;
}
.resized-image {
    width: 60%;
}
.cropped-images {
    width: 30%;
}
.contact-details body {
    background: var(--tertiary-color) !important;
}
.contact-us h1 {
    font-family: var(--default-font-family);
    font-style: italic;
    color: var(--secondary-color);
}
.socials {
    color: var(--secondary-color);
    text-align: left;
    font-family: var(--heading-font-family);
    font-style: italic;
    font-weight: bold;
}
.recent-work a {
    text-decoration: none;
    color: #fcfefe;
}
